<link href='stylesheets/fullcalendar.css' rel='stylesheet' />



<script>


</script>




<div class = "calendarbox" id= "main_time">


	<button class = "print_button" onclick="printPage()"><i class="fa fa-print"></i></button>


	<div id='calendar'></div>

	
	

</div>

