<!DOCTYPE html>
	<meta charset="UTF-8">
<html>
	<head>
<link href='https://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='/stylesheets/aboutUs.css'>
		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
		<script src="js/jquery.min.js"></script>
		<script src="/js/aboutUs.js"></script>

	</head>

	<header>
  		<div id="header">
	  		<div class = 'navbar'>
		  		<img class = 'logo' src = 'http://adapt.to/content/dam/adaptto/production/teaserbar/schedule.png/_jcr_content/renditions/original./schedule.png'>
		  		</img>

		      	<a href="/" id="logo_text">
		        	COURSE TBD 
		      	</a>
		    	<a href="/about_us" id="about_us"> About Us </a>
			</div>
  		</div>
	</header>
	
	<body>
		<div class="background-image"></div>
		<div class = "Overall">

			<iframe  class="video" src="https://www.youtube.com/embed/OkqvzWzuU-Q?autoplay=1" frameborder="0" allowfullscreen></iframe>
		<!-- 	<iframe class = "video" 
			src="https://www.youtube.com/embed/Tp9z9rO9vOw?autoplay=1">
			</iframe> -->
			
			<div class="personal">Made with love by Jintao Chen, Celia Han, and Yinzhan Xu</div>

		</div>
	</body>
</html>